---
import type { CollectionEntry } from "astro:content";
import { getPostUrlBySlug } from "@utils/url-utils";
import PostCard from "./PostCard.astro";

const { page } = Astro.props;

let delay = 0;
const interval = 50;
---

<div id="post-list-container" class="transition flex flex-col rounded-[var(--radius-large)] bg-transparent gap-4 mb-4">

    {page.data.map((entry: CollectionEntry<"posts">, index) => (
        <>
        <article class="onload-animation" style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}>
            <PostCard
                    entry={entry}
                    title={entry.data.title}
                    published={entry.data.published}
                    updated={entry.data.updated}
                    url={getPostUrlBySlug(entry.slug)}
                    image={entry.data.image}
                    description={entry.data.description}
                    draft={entry.data.draft}
                    loading={index < 2 ? "eager" : "lazy"}
            ></PostCard>
        </article>
        {index === 7 && (
            <div class="ad-wrapper onload-animation" style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1683686345039700"
                    crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-format="fluid"
                    data-ad-layout-key="-e0+8r-17-jf+13l"
                    data-ad-client="ca-pub-1683686345039700"
                    data-ad-slot="7103678243"></ins>
                <script is:inline>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        )}
        </>
    ))}
</div>

<style>
    /* 默认不占据高度，直到广告加载 */
    :global(ins.adsbygoogle:empty) {
        height: 0 !important;
        overflow: hidden !important;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
    }
</style>